[Unit]
Description=Nginx for export grafana
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ nginx_container }}
ExecStart=/usr/bin/docker run --rm --network host --name %n -v {{ nginx_config_dir }}/:/etc/nginx/conf.d {{ nginx_container }}

[Install]
WantedBy=multi-user.target
