global:
  slack_api_url: '{{ slack_api_url }}'
route:
  receiver: 'slack-notifications'
  repeat_interval: 2m
receivers:
  - name: 'slack-notifications'
    slack_configs:
    - channel: '{{ slack_channel }}'
      send_resolved: true
