export PATH="/opt/nextflow/v_{{nextflow_version}}:${PATH}"
export NXF_CACHE_DIR={{ nextflow_cache_dir }}
export NXF_CONDA_CACHEDIR={{ nextflow_conda_cache_dir}}
export NXF_SINGULARITY_CACHEDIR={{ nextflow_singularity_cache_dir }}
export NXF_SINGULARTIY_LIBDIR={{ nextflow_singularity_lib_dir }}